services:
  #Redis
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    container_name: redis

  # PostgreSQL Database
  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5431:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    container_name: postgres_db

  # Django Application
  app:
    build: .
    volumes:
      - .:/django
      - ./static:/django/static
    ports:
      - 8000:8000
    image: app:django
    container_name: django_app
    command: /bin/bash -c "python manage.py migrate && python manage.py collectstatic --noinput && gunicorn core.wsgi:application --bind 0.0.0.0:8000  --workers 3" # python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db

  # Nginx
  frontend-proxy:
    image: nginx:latest
    restart: always
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./static:/static:ro
    depends_on:
      - app

  # Celery
  celery:
    ports:
      - "5672:5672"
    restart: always
    build:
      context: .
    command: celery -A core worker -l INFO
    volumes:
      - .:/django
    container_name: celery
    depends_on:
      - db
      - redis
      - app

volumes:
  postgres_data:
    driver: local
